.container {
  display: flex;
  height: auto;
}

.header {
  background-color: var(--sideBar);
  color: var(--contentColor);
  flex: 0 0 20%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.content {
  width: 100%;
}

.user {
  &-nav {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: var(--contentColor);
    box-shadow: var(--shadow-2);
    padding: 1.5rem 4rem;

    &--top,
    &--bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &-search,
  &-notification {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-header {
    display: flex;
    align-items: center;
    gap: var(--gap);

    img {
      width: 7.5rem;
      border-radius: 50%;
    }
  }

  &-header div {
    display: flex;
    flex-direction: column;
  }
}

.main-content {
  display: grid;
  grid-template-columns: 7fr 3fr;
  gap: 3rem;
  padding: 2rem;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--gap);
}
