.project {
  &-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--contentColor);
    line-height: 1.4;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow-2);
    padding: 3rem;
    overflow: hidden;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--accentColor);
      height: 100%;
      padding: 0.5rem;
    }
    .project-icons {
      align-self: flex-end;
      margin-bottom: -1.5rem;
    }

    a:link,
    a:visited {
      color: inherit;
      transition: var(--transition);
    }

    a:hover,
    a:active {
      color: var(--sideBar);
    }
  }

  p {
    color: var(--grey);
  }
}
