.user {
  &-search {
    flex: 0 0 40%;

    input {
      width: 90%;
      border-radius: 5rem;
      background-color: var(--backgroundColor);
      border: none;
      padding: 0.9rem 2.5rem;
      margin-right: -5rem;
      transition: var(--transition);

      &:focus {
        width: 100%;
      }
    }
  }

  &-notification {
    gap: 3rem;
    padding: 0 2rem;

    img {
      width: 5rem;
      border-radius: 50%;
    }

    p {
      font-size: 1.8rem;
      font-weight: var(--fw-600);
    }
  }

  &-greeting {
    font-size: var(--extra-small-text);
    font-weight: var(--fw-600);
    margin-bottom: 0.8rem;
  }

  &-name {
    font-size: var(--font-lg);
    font-weight: var(--fw-600);
  }

  &-nav__buttons {
    display: flex;
    gap: 3rem;
  }
}
